#searchBar {
    padding: 5px 65px;
    border-radius: 8px;
    border: none;
    box-shadow: 5px 5px 5px silver;
  }
  
  #submitSearch {
    margin: 10px 15px;
    padding: 5px 15px;
    border-radius: 8px;
    font-weight: 800;
    box-shadow: 5px 5px 5px silver;
    border: none;
  }
  
  #submitSearch:hover {
    padding: 10px 30px;
    background-color: silver;
    color: fuchsia;
    font-weight: bold;
    border: solid 1px orchid;
  }