#currentWeather {
    text-align: left;
    margin-left: 30px;
  }
  
  #icon,
  #currentTemp {
    font-size: 55px;
    color: white;
  }
  
  #icon {
    color: gold;
    font-weight: bold;
    padding-right: 15px;
  }
  
  #far,
  #cel {
    position: relative;
    top: -35px;
    margin-left: 5px;
  }
  
  #far:hover,
  #cel:hover {
    font-size: larger;
    color: fuchsia;
    font-weight: bold;
    cursor: pointer;
  }
  
  #timeUpdate {
    list-style: none;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 8px;
    color: grey;
    line-height: 18px;
  }
  
  #currentConditions {
    list-style: none;
    text-align: left;
    color: grey;
    line-height: 18px;
  }